/* Basic CSS reset and font */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Aplicaiton styles */

h1,
h2,
h3 {
  font-weight: bold;
}

h2 {
  margin-top: 25px;
}

h1 {
  font-size: 2rem;
}

body {
  background-color: #f1f1f1;
  margin: 10px 10px 10px 10px;
}

:root {
  --blue: #3a82f7;
  --yellow: #f1cb00;
  --grey: #848484;
  --green: #67ce67;
  --light-blue: #e0eaf9;
  --light-green: #d7ffd7;
}

/* Nav styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav p {
  font-weight: bold;
  color: var(--grey);
}

#welcome {
  margin-top: -6px;
}

nav button img {
  width: 30px;
}

nav button {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

/* All time stats */

.all-time-stats-conatiner {
  background-color: white;
  border-radius: 5px;
  padding: 15px 20px 10px 20px;
  margin: 10px 0px 10px 0px;
}

/* Progress bar */
.progress-bar-container {
  width: 95%;
  height: 20px;
  background-color: var(--grey);
  border-radius: 10px;
}

.progress-bar {
  width: 200px;
  height: 20px;
  background-color: var(--yellow);
  border-radius: 10px;
}

.progress-bar p {
  text-align: end;
  margin-right: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}

.stat-type,
.stat-data {
  display: flex;
}

.stat-type {
  gap: 5px;
}

.all-time-stat-icon {
  width: 20px;
}

.stat-data {
  gap: 2px;
  margin-top: -8px;
  align-items: baseline;
}

.stat-number {
  font-weight: bold;
  font-size: 1.5rem;
}

.stat-unit {
  color: var(--grey);
  font-weight: bold;
}

.stat-description {
  font-weight: bold;
}

.stat {
  margin: 8px 0px 0px 0px;
}

/* Session stats */

.session-stats,
.session-stat {
  display: flex;
}

.session-stats {
  gap: 7px;
}

.session-stat {
  gap: 3px;
}

.session-stat p {
  color: var(--grey);
}

.session-stat-icon {
  width: 20px;
}

/* Segment */
.segment {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 10px 0px 10px 0px;
}

.segment-left,
.segment-right {
  display: flex;
  align-items: center;
}

.segment-left {
  gap: 7px;
}

.segment-right {
  gap: 5px;
  margin: 5px;
}

.segment-icon {
  width: 60px;
  padding: 6px;
  border-radius: 10px;
}

.segment-tpye,
.segment-number {
  font-weight: bold;
}

.segment-number {
  font-size: 1.5rem;
  margin-top: -8px;
}

.time {
  color: var(--grey);
}

/* DEV */

.non-final {
  color: red;
}

/* Floating Action button */
#floatingActionBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: none;
  font-size: 36px;
  text-align: center;
  padding: 5px 0;
  color: black;
  background: #f1f1f180;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

/* Add wourkout ui */
/* Header and background */

#add-workout {
  background: #f1f1f1af;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  border-radius: 26px 26px 0px 0px;
  padding: 15px 20px 15px 20px;
  position: absolute;
  width: 100vw;
  bottom: 0px;
  border: 4px solid #84848450;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.header-container h2 {
  margin: 0px;
}

.header-container button {
  background-color: transparent;
  border: none;
}

.header-container button img {
  width: 30px;
  padding: 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* Add wourkout form */
.add-workout-form button {
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
}

.add-workout-form .btn-icon {
  width: 24px;
}

.btn-choice {
  display: flex;
  gap: 10px;
}

.btn-choice button {
  flex-grow: 1;
  flex-basis: 0;
}

.btn-choice p {
  font-weight: bold;
  font-size: 16px;
}

.form-item {
  margin-bottom: 8px;
}

.add-workout-form input {
  background: #ffffff;
  border: 1px solid #848484;
  border-radius: 5px;
  height: 40px;
  color: var(--grey);
  font-weight: bold;
  font-size: 16px;
}

.add-workout-form input[type="tel"] {
  max-width: 40%;
}

.textbox-with-unit {
  display: flex;
  align-items: end;
  gap: 5px;
}

.multiple-textbox {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.multiple-textbox input {
  flex-grow: 1;
  flex-basis: 0;
}

.combined-textbox {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 50%;
}

#add-workout-btn {
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
  color: black;
  background-color: white;
}

/* Settings menu (modal) */

.modal-background {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

.modal-content .settings-options button {
  margin-top: 2px;
  margin-bottom: 6px;
  border: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}

/* Utility styles */

.blue {
  color: var(--blue);
}

.yellow {
  color: var(--yellow);
}

.green {
  color: var(--green);
}

.green-bg {
  background-color: var(--light-green);
}

.blue-bg {
  background-color: var(--light-blue);
}

.grey {
  color: var(--grey);
}

.hidden {
  display: none;
}

.selected {
  border: 2px solid rgb(86, 86, 86) !important;
}
